[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=2.2.10"
pillow = "*"
django-widget-tweaks = "~=1.4.8"
whitenoise = "*"
gunicorn = "*"

[requires]
python_version = "3.9"

[dev-packages]
